<?xml version="1.0"?>
<model>
  <name>cleanbot_aruco_task_102</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>cleanbot_course_project</name>
    <email>student@example.com</email>
  </author>
  <description>ArUco board 102 for task-driven navigation demo.</description>
</model>
