<launch>
  <arg name="scan_goals_file" default="$(find cleanbot_course_project)/config/scan_goals.yaml" />
  <arg name="move_base_action" default="/move_base" />
  <arg name="goal_timeout" default="90.0" />
  <arg name="retry_count" default="1" />
  <arg name="frame_id" default="map" />
  <arg name="status_topic" default="~status" />
  <arg name="path_marker_topic" default="~scan_path" />
  <arg name="dry_run" default="false" />

  <node pkg="cleanbot_course_project" type="coverage_task_manager.py" name="coverage_task_manager" output="screen">
    <param name="scan_goals_file" value="$(arg scan_goals_file)" />
    <param name="move_base_action" value="$(arg move_base_action)" />
    <param name="goal_timeout" value="$(arg goal_timeout)" />
    <param name="retry_count" value="$(arg retry_count)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="status_topic" value="$(arg status_topic)" />
    <param name="path_marker_topic" value="$(arg path_marker_topic)" />
    <param name="dry_run" value="$(arg dry_run)" />
  </node>
</launch>
