<launch>
  <arg name="use_vision" default="true" />
  <arg name="use_coverage" default="false" />
  <arg name="use_person_follow" default="false" />
  <arg name="use_target_3d" default="false" />
  <arg name="use_room_cleaning" default="false" />
  <arg name="use_arm" default="false" />

  <arg name="rgb_topic" default="/camera/rgb/image_raw" />
  <arg name="depth_topic" default="/camera/depth/image_raw" />
  <arg name="camera_info_topic" default="/camera/depth/camera_info" />
  <arg name="camera_frame" default="" />
  <arg name="detection_topic" default="/yolo/detections_json" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="move_base_action" default="/move_base" />
  <arg name="arm_controller_topic" default="/arm_controller/command" />
  <arg name="command_topic" default="/cleanbot_arm/command" />

  <arg name="enable_person_follow" default="false" />
  <arg name="search_when_lost" default="false" />
  <arg name="dry_run_coverage" default="false" />
  <arg name="dry_run_room_cleaning" default="false" />

  <group if="$(arg use_vision)">
    <include file="$(find cleanbot_course_project)/launch/vision_demo.launch">
      <arg name="rgb_topic" value="$(arg rgb_topic)" />
      <arg name="camera_frame" value="$(arg camera_frame)" />
    </include>
  </group>

  <group if="$(arg use_coverage)">
    <include file="$(find cleanbot_course_project)/launch/coverage_demo.launch">
      <arg name="move_base_action" value="$(arg move_base_action)" />
      <arg name="dry_run" value="$(arg dry_run_coverage)" />
    </include>
  </group>

  <group if="$(arg use_person_follow)">
    <include file="$(find cleanbot_course_project)/launch/person_follow_demo.launch">
      <arg name="detection_topic" value="$(arg detection_topic)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="enable" value="$(arg enable_person_follow)" />
      <arg name="search_when_lost" value="$(arg search_when_lost)" />
    </include>
  </group>

  <group if="$(arg use_target_3d)">
    <include file="$(find cleanbot_course_project)/launch/target_3d_demo.launch">
      <arg name="detection_topic" value="$(arg detection_topic)" />
      <arg name="depth_topic" value="$(arg depth_topic)" />
      <arg name="camera_info_topic" value="$(arg camera_info_topic)" />
      <arg name="camera_frame" value="$(arg camera_frame)" />
    </include>
  </group>

  <group if="$(arg use_room_cleaning)">
    <include file="$(find cleanbot_course_project)/launch/room_cleaning_demo.launch">
      <arg name="move_base_action" value="$(arg move_base_action)" />
      <arg name="dry_run" value="$(arg dry_run_room_cleaning)" />
    </include>
  </group>

  <group if="$(arg use_arm)">
    <include file="$(find cleanbot_course_project)/launch/arm_demo.launch">
      <arg name="arm_controller_topic" value="$(arg arm_controller_topic)" />
      <arg name="command_topic" value="$(arg command_topic)" />
    </include>
  </group>
</launch>
