<launch>
  <arg name="gui" default="true" />
  <arg name="rviz" default="false" />
  <arg name="world_name" default="$(find aws_robomaker_small_house_world)/worlds/small_house.world" />
  <arg name="x_pos" default="-1.5" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.08" />
  <arg name="yaw" default="0.0" />
  <!-- Compatibility args used by older wrapper scripts. -->
  <arg name="autostart_room" default="living_room" />
  <arg name="autostart_delay" default="15.0" />

  <env name="GAZEBO_MODEL_PATH"
       value="$(find aws_robomaker_small_house_world)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" value="true" />
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find cleanbot_course_project)/urdf/robot_vacuum.xacro" />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen"
        respawn="true">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_robot_vacuum"
        output="screen"
        args="-urdf
              -model robot_vacuum
              -x $(arg x_pos)
              -y $(arg y_pos)
              -z $(arg z_pos)
              -Y $(arg yaw)
              -param robot_description" />

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        output="screen"
        args="-d $(find cleanbot_course_project)/config/robot_basic.rviz" />
</launch>
